TELEGRAM_API_ID=replace_with_your_api_id
TELEGRAM_API_HASH=replace_with_your_api_hash
TELEGRAM_BOT_TOKEN=replace_with_your_bot_token
TELEGRAM_CHAT_ID=replace_with_your_chat_id
LLM_API_KEY=replace_with_your_gemini_key